.drawer {
  // position: relative;
  // .wrapper {
  //   display: flex;
  // }
  // &.close {
  //   width: 1px;
  // }
  border-right: #efefef 1px solid;
  display: flex;
  height: 100%;
  width: 37%;
}
