.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  // &.fullscreen {
  //   padding: 0 100px;
  // }
  .body {
    padding: 20px;
  }

  .title {
    font-size: 1.8em;
    margin-top: 30px;
    padding: 0 20px;
  }
}
