.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  // &.fullscreen {
  //   padding: 0 100px;
  // }
  .body {
    padding: 10px;
  }

  .title {
    padding: 10px;
    border-bottom: 1px solid #efefef;
  }
}
