.login {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
}

.googlebtn {
  align-items: center;
  background-color: #4285f4;
  border-radius: 2px;
  display: flex;
  height: 50px;
  padding: 1px;
  width: 220px;

  &:hover {
    cursor: pointer;
  }

  img {
    border-radius: 2px;
    height: 50px;
    width: 50px;
  }

  div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  span {
    color: #ffffff;
  }
}
