.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.googlebtn {
  display: flex;
  align-items: center;

  width: 220px;
  height: 50px;
  background-color: #4285f4;
  padding: 1px;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 2px;
  }
  div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  span {
    color: #ffffff;
  }
}
