.note-list {
  display: flex;
  flex-direction: column;
  width: 320px;

  .add-note,
  .head {
    align-self: center;
  }

  .head {
    padding: 15px 0;
  }

  ul {
    margin-top: 10px;
    list-style-type: none;
  }
}
