li.note {
  border-bottom: 1px solid #efefef;
  cursor: pointer;
  display: flex;
  padding: 10px 0 10px 10px;

  &:first-child {
    border-top: 1px solid #efefef;
  }

  .left-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    .title {
      font-size: 1.2em;
    }

    .updated {
      color: #ccc;
      font-size: 0.8em;
      margin-top: 5px;
    }
  }

  .right-pane {
    align-self: flex-end;
    display: flex;

    .btn-delete {
      color: #ccc;
      padding: 5px;
    }
  }
}
